*.iws
**/out/
.idea_modules/
*.class
**/target/
target/
*/test-output
*~
*/.settings
.settings
*/.classpath
.classpath
*/.project
.project
*/*.db
*.db
*/*.private
*.private
.idea/
.idea/*
*.iml
*/*.log
*.log
*/logs/
logs/
docker/
./db*
